#home-banner{
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg?w=1060&t=st=1691123928~exp=1691124528~hmac=bced43d68271ec7543a31678ad1b79573beb4fb8e435062642004c0f43909e67');
    background-position: center;
    background-size: cover;
}